A:link    {text-decoration:none;}
A:visited {text-decoration:none;}
A:active  {text-decoration:none;}
A:hover  {text-decoration:underline}
table, td , div , body { font-size: 9pt;font-family:±¼¸² ; cursor: default;line-height:160%;}
.thm8pt {  font-family: "Tahoma"; font-size: 8pt; letter-spacing: 0px}
.thm7pt {  font-family: "Tahoma"; font-size: 7pt; letter-spacing: 0px}input  { font-size: 9pt; cursor: hand; } .input {  font-size: 9pt; height: 18px}


.input { border:1 solid;border-color:555555;background-color:white;color:black;font-size:9pt;font-family:Tahoma;height:20px; }
.submit { border:1 solid;border-color:555555;background-color:555555;color:white;font-size:9pt;font-family:Tahoma;height:20px; }
.close { border:1 solid;border-color:888888;background-color:aaaaaa;color:555555;font-size:9pt;font-family:Tahoma;height:20px; }
