BODY,TD,input,div,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt;color:#666666;font-family:±¼¸²;}
TD {line-height:140%}
body 
{
	background-color:#000000;
	scrollbar-face-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-3dlight-color: #555555;
	scrollbar-shadow-color:#000000;
	scrollbar-darkshadow-color:#404040;
	scrollbar-track-color:#000000;
	scrollbar-arrow-color: #555555;
	text-align:center;
}
A:link    {color:666666;text-decoration:none;font-family:±¼¸²;font-size:9pt;}
A:visited {color:666666;text-decoration:none;font-family:±¼¸²;font-size:9pt;}
A:active  {color:ff6666;text-decoration:none;font-family:±¼¸²;font-size:9pt;}
A:hover  {color:666666;text-decoration:none;font-family:±¼¸²;font-size:9pt;}
#container{
	margin:0px auto;
}

#header{
	display:none;
}
#sidebar{
	margin:10px 0px;
	text-align:left;
}

#content{
	border-left:1px solid #151515;
	border-right:1px solid #151515;
}
#submenu{
	border:1px solid #151515;
	margin:30px 0px;
}
#record{
	width:100%;

}
.outter{
	list-style-type:none;
	margin:0px 0px ;
	color:#A30;
	font-size:12px;
	font-weight: bold;
}
.inner{
	color:#A50;
	margin:0px 0px ;
	list-style-type: square;
	list-style-position:inside;
	font-weight: normal;
}

#sidebar ul {
	background: #111111;
	border: solid 1px #151515;
	padding:0px;
	margin:5px;
	clear:both;
}

#sidebar ul ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border: solid 1px #111111;
	overflow: auto;
}

#sidebar ul ul li{
	float:left;
}

#sidebar ul ul li a{
	margin-left:3px;
	padding:10px 2px;
	line-height:4em;
	background-color:#333;
}

@media all and (min-width:768px) 
{
	#container{
		width:846px;
	}
	#sidebar{
		width:190px; float:left;
	}
	#content{
		float:right;
		width:645px;
	}	
	#sidebar ul ul{
	overflow: auto;
	}
	#sidebar ul ul li{
		clear:both;
	}
	#sidebar ul ul li a{
		margin:0px;
		padding:0px;
		line-height:1em;
		background-color:#111;
	}
}

