/*********************************************
* 스킨파일 공통으로  들어간 스타일 시트
*********************************************/
td, select, input, div, form, textarea, center, option, pre, blockquote{font-size:8pt; font-family:verdana; color:#656565;letter-spacing:0px;line-height:160%}


A:link    {color:#656565;text-decoration:none;}
A:visited {color:#656565;text-decoration:none;}
A:active  {color:#656565;text-decoration:none;}
A:hover   {color:#BEBEBE;text-decoration:none;}

.h {font-family:verdana;font-size:9px;color:#656565;letter-spacing:0px}
.input-search  {background-color:#FFFFFF; border-color:#392946; font-family:tahoma,verdana; font-size:8pt; border-width:1px; border-top-style:solid; border-right-style:solid; border-bottom-style:solid; border-left-style:solid; line-height:100%}

.textarea {width:100%;height:80px;border:solid 1px #333333; background-color:transparent; overflow-x:auto; overflow-y:auto; no-repeat fixed right bottom}
.textarea2 {border:solid 1 #333333; background-color:transparent; overflow-x:auto; overflow-y:auto; no-repeat fixed right bottom}
.input1	{border:solid 1 #333333;background-color:transparent; overflow-x:hidden; overflow-y:auto; no-repeat fixed right bottom}
.input		{border:solid 1px #333333;font-family:verdana;font-size:8pt;height:18px;background-color:transparent;}
.comment {font-family:verdana;font-size:7pt;letter-spacing:0px}
.comment-num {font-family:tahoma;font-size:8pt;letter-spacing:0px}
.erocat-submit {border:solid 1 #333333; font-family:verdana;font-size:7pt;color:#656565;background-color:transparent;letter-spacing:0px}
.neotune-upload {font-family:Tahoma;font-size:9pt;letter-spacing:0px}
.c-reg-date {font-family:tahoma;font-size:7pt;color:#656565;letter-spacing:1px}
.hit {color:#656565;font-size:7pt;font-family:verdana;letter-spacing:0px;}
.comment-no{font-size:7pt; font-family:verdana; color:#656565; font-weight:normal; line-height:100%;letter-spacing:0px;}
.reg-date {color:#656565;font-size:6pt;font-family:tahoma;;letter-spacing:0px}
.submit {border:solid 1px #333333;font-family:verdana;font-size:9px;color:#656565;background-color:transparent;letter-spacing:0px;}
.bg {background:url(h_bg.gif) repeat-x left bottom; height:17}
.sly {color:#656565;font-size:7pt;font-family:verdana;;letter-spacing:0px}
.sly1 {color:#656565;font-size:7pt;font-family:tahoma;;letter-spacing:0px}
.co {color:#535353;font-size:7pt;font-family:verdana;;letter-spacing:0px}
.num {font-family:verdana; font-size:7pt;}
.center{text-align:center;}
.text{font-size:9pt;}


/*********************************************
* list  스타일 시트
*********************************************/
#list {width:100%;border:0;border-top:1px solid #151515;text-align:center;margin:0px}
#list tr{height:30;}
#list td{border-bottom:1px solid #151515;}
#list tr:hover{background-color:#151515;}
#list tbody td{color:#656565;font-size:7pt;font-family:tahoma;letter-spacing:0px;}
#list tbody .text{font-size:9pt;text-align:left;}
#list .notice{background-color:#151515;}

/*********************************************
* view  스타일 시트
*********************************************/
#view {width:100%;margin:40px 0px;}
#view td{border-bottom:1px solid #151515;font-size:12px;font-family:tahoma;letter-spacing:0px;}
#view .subject{background-color:#151515; font-style:bold;font-size:11pt;color:#999999;}

/*********************************************
* WritePage 스타일 시트
*********************************************/
#WritePage {width:100%;}
#WritePage input{width:50%;border:solid 1px #333333;font-family:verdana;font-size:8pt;height:18px;background-color:transparent;}
#WritePage textarea {width:100%;border:solid 1px #333333; background-color:transparent; overflow-x:auto; overflow-y:auto; no-repeat fixed right bottom}

/*********************************************
* comment  스타일 시트
*********************************************/
.comment {width:100%;border-bottom:1px solid #151515;}
.comment td{font-size:12px;font-family:tahoma;letter-spacing:0px;}
.comment .name{font-style:bold;font-size:11pt;color:#999999;}

/*********************************************
* writeComment 스타일 시트
*********************************************/
#writeComment textarea {width:100%;border:solid 1px #333333; background-color:transparent; overflow-x:auto; overflow-y:auto; no-repeat fixed right bottom}



.record{
	border-collapse:collapse;
	width:100%;
	font-size:11px;
	color:#666;
	margin:25px 0px;
}
.record td{
	padding:4px 1px;
}
.record thead{
	background:#222;
	text-align:center;
}
.record thead td{
	border:1px solid #151515;

}
.record tbody{
/*	background:#555;*/
	text-align:left;
}
.record tbody td{
	border-bottom:1px solid #151515;
}
.sidebar{
	border-left:1px solid #151515;
}
.blue{
	color:#384887;
}
.red{
	color:#B66;
	
}

#tb{margin-left:auto;margin-right:auto;width:95%;margin-top:10px;}
	#tb thead {background:#101010;	text-align:center;}
	#tb tbody td{border-bottom:solid 1px #151515;}