BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt; font-family:±¼¸²; color:black;line-height:160%}

A:link    {color:black;text-decoration:none;}
A:visited {color:black;text-decoration:none;}
A:active  {color:black;text-decoration:none;}
A:hover  {color:444444;text-decoration:underline}

.head {border:solid 1 black;font-family:±¼¸²;font-size:9pt;color:black;background-color:white;height:19px}
.textarea {border:solid 1; font-family:±¼¸²;font-size:9pt;color:black;background-color:white}
.input{border:solid 1;font-family:±¼¸²;font-size:9pt;color:black;background-color:white;height:19px}
.submit {border:solid 1;font-family:±¼¸²;font-size:9pt;color:white;background-color:black;height:19px}
